absl-py==2.1.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.3.0
asgiref==3.1.1
attrs==25.4.0
Authlib==1.3.0
bleach==6.3.0
blinker==1.9.0
certifi==2026.2.2
cffi==2.0.0
charset-normalizer==3.4.0
click==8.3.1
cloudinary==1.44.1
colorama==0.4.6
contourpy==1.3.3
cryptography==46.0.5
cycler==0.12.1
distro==1.9.0
dj-database-url==2.1.0
Django==5.2.12
django-axes==6.3.1
django-cloudinary-storage==0.3.0
django-csp==4.0
django-ratelimit==4.1.0
docx2txt==0.9
dparse==0.6.4
filelock==3.25.1
Flask==3.1.0
Flask-Cors==6.0.2
flatbuffers==25.12.1
fonttools==4.61.1
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-genai
google-resumable-media
googleapis-common-protos
grpcio
grpcio-status
gunicorn==25.3.0
h11==0.16.0
httpcore==1.0.5
httplib2==0.31.0
httpx==0.28.1
idna==3.11
itsdangerous==2.2.2
Jinja2==3.1.6
joblib==1.5.0
kiwisolver==1.4.9
lxml==6.0.0
Markdown-It-Py==4.0.0
MarkupSafe==3.1.0
marshmallow==4.2.2
matplotlib==3.1.0
mdurl==0.1.0
mediapipe>=0.10.3
nltk==3.9.4
numpy==2.4.2
opencv-contrib-python==4.13.0.92
opencv-python==4.13.0.92
packaging==26.0
Pillow==1.1.2.1
proto-plus==1.27.1
protobuf==5.29.3
psycopg2==2.9.11
psycopg2-binary==2.9.11
pyasn1==0.6.1
pyasn1-modules==0.4.2
pycparser==3.0
pydantic==2.12.5
pydantic-core==2.24.1
Pygments==2.20.0
pyotp==2.9.0
pyparsing==3.3.0
PyPDF2==3.0.1
python-dateutil==2.9.0
python-decouple==3.8
python-docx==1.2.0
python-pptx==1.0.2
qrcode==8.0
regex==2026.3.3
reportlab==4.1.10
requests==2.32.5
rich==14.3.3
ruamel.yaml==0.1.9
safety==3.7.0
safety-schemas==0.0.16
shellingham==1.5.4
six==1.17.0
sniffio==1.3.1
sounddevice==0.5.1
sqlparse==0.5.5
tenacity==9.1.0
tomlkit==0.14.0
tqdm==4.67.3
typer==0.12.4
typing-inspection==0.0.4
typing-extensions==4.15.0
tzdata==2025.3
uri-template==1.2.0
urllib3==2.6.3
webencodings==0.5.1
websockets==1.6.0
Werkzeug==3.1.6
whitenoise==6.12.0
xlsxwriter==3.2.1