# Python 3.12.2
absl-py>=2.1.0
scikit-learn
pandas
django-allauth
annotated-doc>=0.0.1
annotated-types>=0.7.0
anyio>=4.3.0
asgiref>=3.1.1
attrs>=22.0.0
Authlib>=1.3.0
bleach>=6.1.0
blinker>=1.9.0
certifi>=2025.01.31
cffi>=1.0.0
charset-normalizer>=3.0.0
click>=8.0.0
cloudinary>=1.34.0
colorama>=0.4.6
contourpy>=1.0.0
cryptography>=42.0.0
cycler>=0.10.0
distro>=1.9.0
dj-database-url>=2.1.0
Django>=4.2.0
django-axes>=6.0.0
django-cloudinary-storage>=0.3.0
django-csp>=4.0
django-ratelimit>=4.0.0
docx2txt>=0.8
dparse>=0.6.0
filelock>=3.0.0
Flask>=3.0.0
Flask-Cors>=4.0.0
flatbuffers>=23.0.0
fonttools>=4.0.0
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-genai
google-resumable-media
googleapis-common-protos
grpcio
grpcio-status
gunicorn>=20.1.0
h11>=0.14.0
httpcore>=1.0.0
httplib2>=0.20.0
httpx>=0.27.0
idna>=3.0
itsdangerous>=2.0.0
Jinja2>=3.0.0
joblib>=1.3.0
kiwisolver>=1.4.0
lxml>=4.0.0
Markdown-It-Py>=3.0.0
MarkupSafe>=2.1.0
marshmallow>=3.0.0
matplotlib>=3.1.0
mdurl>=0.1.0
mediapipe>=0.10.3
nltk>=3.8.0
numpy>=1.20.0
opencv-contrib-python>=4.8.0
opencv-python>=4.8.0
packaging>=23.0
Pillow>=10.0.0
proto-plus>=1.22.0
protobuf>=4.21.0
psycopg2>=2.9.0
psycopg2-binary>=2.9.0
pyasn1>=0.5.0
pyasn1-modules>=0.3.0
pycparser>=2.21
pydantic>=2.0.0
pydantic-core>=2.0.0
Pygments>=2.15.0
pyotp>=2.8.0
pyparsing>=3.0.0
PyPDF2>=3.0.0
python-dateutil>=2.8.0
python-decouple>=3.8
python-docx>=1.1.0
python-pptx>=1.0.0
qrcode>=7.4.0
regex>=2023.0.0
reportlab>=4.0.0
requests>=2.31.0
rich>=13.0.0
ruamel.yaml>=0.17.0
safety>=3.0.0
safety-schemas>=0.0.1
shellingham>=1.5.0
six>=1.16.0
sniffio>=1.3.0
sounddevice>=0.4.6
sqlparse>=0.4.0
tenacity>=8.0.0
tomlkit>=0.12.0
tqdm>=4.65.0
typer>=0.9.0
typing-inspection>=0.0.4
typing-extensions>=4.5.0
tzdata
uri-template>=1.3.0
urllib3>=2.0.0
webencodings>=0.5.1
websockets>=11.0
Werkzeug>=3.0.0
whitenoise>=6.5.0
xlsxwriter>=3.1.0